/*Custom style sheet for bootstrap stuff*/


/* Theme from Bootswatch */
@import url('themes.css');
@import url('fonts.css');
/* Background Image */
html {height: 100%;}
body { 
	height: 100%;
	/* FIGURE OUT WHY LOCAL HOSTING ISNT WORKING FOR THIS STUFF */
  background: url(../assets/images/stock-bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  font-family: 'Source Sans Pro', sans-serif;

}

#content {height: 100%;}
body > #content {
	height: auto;
	min-height: 100%
}
#content {padding-bottom: 3em;}

/* Translucent content bg */

.block {
	background-color:rgba(0,0,0,0.6);
	padding-left:12px;
  	padding-right:12px;
  	padding-top: 1px;
}

.block-opaque {
	background-color:rgba(0,0,0, 1.0);
	padding-left:12px;
  	padding-right:12px;
}

.white {
	color: white;
}

#hotwok-head {
	text-align: center;
}

#hotwok-head h1 {
	font-size: 450%;
	font-family: 'forte', cursive;
}

@media (max-width: 767px) {
	body {
		background: #333;
	}
	#hotwok-head h1 {
		font-size: 270%;
	}
}

.jumbotron {font-size: 18px;}

.jumbotron h1 {
	font-family: 'forte', cursive;
	font-size: 250%;
}

/* Image editing */

#karaoke-img{
	height: 50%;
	width: 50%;
	float: left;
	padding-right: 10px;
}

/* Food Menu Styles */

.menu-item {
	color: white;
}

.menu-item .title{
	font-size: 16px;
	float: left;
	text-align: left;
	width: 50%;
}
.menu-item .price{
	font-size: 16px;
	float: left;
	text-align: right;
	width: 50%;
	
}

.menu-item .description {
	display: none;
	font-size: 14px;
	font-style: italic;
	float: left;
	text-align: center;
	width: 33%;
}

/* Online Order Buttons */
.online-order {
	padding: 10px;
}

#ordering-content {
	text-align: center;
}

/* Hours */

#hours-table {
	width: 50%;
	background-color: transparent;
}

#map {

}

#footer {
 clear: both;
 position: relative;
 z-index: 10;
 height: 3em;
 margin-top: -3em;
}

#interior1-img {
	height: 60%;
	width: 45%;
	float: left;
		padding-right: 10px;
}